@inherits LayoutComponentBase

<div class="page">
    <div>
        <Header />
    </div>
    <div>
        <Slider />
    </div>

    <div id="content" class="w3-light-grey">
        <div class="w3-row w3-padding w3-border">
            <div class="w3-col l8 s12">
                @Body
            </div>
            <div>
                <NavMenu/>
            </div>
        </div>
    </div>
</div>
    

